@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject NavigationManager navigation
@inject SignOutSessionStateManager signOutManager

<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
        <button href="Logout" class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registro</a>
        <a href="authentication/login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await signOutManager.SetSignOutState();
        navigation.NavigateTo("authentication/logout");
    }
}
