@inject IJSRuntime js
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <ListadoGenerico Listado="ListaPeliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="Eliminar" @key="pelicula.Id" />
        </HayRegistros>
    </ListadoGenerico>
</div>

@code {

    [Parameter] public List<Pelicula> ListaPeliculas { get; set; }

    async Task Eliminar(Pelicula pelicula)
    {
        bool confirmado = await js.Confirm($"¿Desea borrar la pelicula {pelicula.Titulo}?");
        if (confirmado)
        {
            var response = await repositorio.Delete($"api/peliculas/{pelicula.Id}");
            if (response.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await response.GetBody());
            }
            else
            {
                ListaPeliculas.Remove(pelicula);
            }
        }
    }
}
