@page "/"
@inject IRepositorio repositorio

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculas ListaPeliculas="PeliculasEnCartelera" />
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculas ListaPeliculas="ProximosEstrenos" />
</div>

@code {
    private List<Pelicula> PeliculasEnCartelera;
    private List<Pelicula> ProximosEstrenos;

    protected async override Task OnInitializedAsync()
    {
        var response = await repositorio.Get<HomePageDto>("api/peliculas");

        if (response.Error)
        {
            Console.WriteLine(response.HttpResponseMessage.StatusCode);
        }
        else
        {
            PeliculasEnCartelera = response.Response.PeliculasEnCartelera;
            ProximosEstrenos = response.Response.ProximosEstrenos;
        }
    }
}